<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciamento de Atendimentos</title>
    <link href="/static/css/Atendimento.css" rel="stylesheet">
</head>

<body>
<header>
    <button class="back-button" onclick="window.location.href='index.html'">Voltar para o Início</button>
</header>
<form id="formAtendimento">
    <h1>Cadastro de Atendimentos</h1>
    <label for="descricao">Descrição:</label>
    <input type="text" id="descricao" name="descricao" required>
    <label for="clienteId">ID do Cliente:</label>
    <input type="number" id="clienteId" name="clienteId" required>
    <button type="submit">Cadastrar Atendimento</button>
    <button type="button" onclick="listarAtendimentos()">Listar Atendimentos</button>
</form>

<div id="listaAtendimentos">
    <h2>Lista de Atendimentos</h2>
    <ul id="lista">
        <!-- Os atendimentos serão listados dinamicamente aqui -->
    </ul>
</div>
<script src="/static/js/Atendimento.js"></script>
</body>

</html>
