<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Petshop - Clientes</title>
    <link href="/static/css/Cliente.css" rel="stylesheet">
</head>

<body>
<header>
    <h1>Petshop - Clientes</h1>
    <a class="back-button" href="index.html">Voltar para o Início</a>
</header>
<main>
    <!-- Conteúdo da página de Clientes -->
    <h2>Listagem de Clientes</h2>
    <p>Aqui você pode visualizar a lista de clientes cadastrados.</p>
    <a class="add-button" href="cadastro_cliente.html">Cadastrar Novo Cliente</a>
</main>
<script src="/static/js/Cliente.js"></script>
</body>

</html>
