<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciamento de Funcionários</title>
    <link rel="stylesheet" href="/static/css/Funcionario.css" >
</head>
<header>
    <button class="back-button" onclick="window.location.href='index.html'">Voltar para o Início</button>
</header>
<body>
<form id="formFuncionario">
    <h1>Cadastro de Funcionários</h1>
    <label for="nome">Nome:</label>
    <input type="text" id="nome" name="nome" required>
    <label for="cargo">Função:</label>
    <input type="text" id="cargo" name="cargo" required>
    <button type="submit">Adicionar Funcionário</button>
    <button type="button" onclick="listarFuncionarios()">Listar Funcionários</button>
</form>

<div id="listaFuncionarios">
    <h2>Lista de Funcionários</h2>
    <ul id="lista">
        <!-- Os funcionários serão listados dinamicamente aqui -->
    </ul>
</div>
<script src="/static/js/Funcionario.js"></script>
</body>

</html>
