<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Petshop</title>
    <style>
        body {
   margin: 0;
   padding: 0;
   font-family: Arial, sans-serif;
}

.vertical-list {
   list-style-type: none;
   margin: 0;
   padding: 0;
   text-align: center;
}

.vertical-list li {
   margin-bottom: 10px;
}

.vertical-list li a {
   display: block;
   padding: 15px 30px;
   background-color: #8b5a2b;
   color: #fff;
   text-decoration: none;
   border-radius: 5px;
   font-size: 16px;
}

.vertical-list li a:hover {
   background-color: #9e6d3f;
}
    </style>
</head>

<body >
<header style="background-color: #5cb85c;">
    <h1 style="text-align: center; color: #fff;">Petshop</h1>
</header>
<main style="background-color: #5a3c1c; text-align: center; padding: 20px;">
    <ul class="vertical-list">
        <li><a href="Cliente.html">Clientes</a></li>
        <li><a href="Animal.html">Animais</a></li>
        <li><a href="Servico.html">Serviços</a></li>
        <li><a href="Atendimento.html">Atendimentos</a></li>
        <li><a href="Funcionario.html">Funcionários</a></li>
    </ul>
</main>
<footer style="background-color: #5cb85c; color: #fff; text-align: center; padding: 10px 0;">
    <p>&copy; 2024 Petshop</p>
</footer>
</body>

</html>
